.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 12pt;
}

.table {
    display: inline-block;
}

.th {
    font-weight: 600;
}

.th,
.td {
    margin: 0;
    padding: 0.5rem;
}

.directory-link {
    display: flex;
    flex-direction: row;
}

.directory-icon {
    margin-top: 3px;
}

.directory-label {
    margin-left: 4px;
}

.file-link {
    display: flex;
    flex-direction: row;
}

.file-icon {
    margin-top: 3px;
}

.file-label {
    margin-left: 4px;
}

.file-stuff {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-stuff-item {
    padding: 0 4px;
}
